.animate__animated.animate__fadeInUp{
    animation-duration: 3S;
}
.animate__animated.animate__fadeInLeft{
    animation-duration: 3S;
}
.sidepanel.animate__animated.animate__fadeInLeft{
    animation-duration: 5S;
}
.animate__animated.animate__fadeInRight{
    animation-duration: 3S;
}
.animate__animated.animate__fadeIn{
    animation-duration: 3s;
    animation-delay: 0.5s;
}
.divider.divider_below.animate__animated.animate__fadeInRight{
    animation-duration: 3s;
}
.animate__animated.animate__fadeInDown{
    animation-duration: 3S;
}